<!DOCTYPE html><html lang="en">
  <head>

  <meta charset=utf-8>
  <meta http-equiv=X-UA-Compatible content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <meta property="og:title" content="The Brains@Play Platform" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://brainsatplay.com/brainsatplay-react-starter/header.png" />
  <meta property="og:description" content="The Brains@Play Platform" />
  <meta property="og:url" content="https://brainsatplay.com/getstarted" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@brainsatplay">
  <meta name="twitter:creator" content="@brainsatplay">
  <meta name="twitter:domain" content="brainsatplay.com">
  <meta name="twitter:title" content="The Brains@Play Platform">
  <meta name="twitter:url" content="https://brainsatplay.com">
  <meta name="twitter:description" content="The Brains@Play Platform">
  <meta name="twitter:image:src" content="https://brainsatplay.com/brainsatplay-react-starter/header.png">
  <title>Brains@Play Platform</title>
  <link rel=icon href='favicon.ico'>
  <link rel="stylesheet" type="text/css" href="/public/global.css">
</head>

<body>
  <div id="app">
    
  <div id="game-gallery" class="gallery">
    <% Object.keys(apps).forEach(function(prop) { %>
      <a id="<%- prop %>" class="game" onclick=window.location.href='<%- apps[prop].path %>/index.html' style="background-image: url('<%- apps[prop].path %>/header.png')">
        <!-- <a id="<%- prop %>" class="game" onclick="changeURL('<%- prop %>')" style="background-image: url('<%- apps[prop].path %>/header.png')"> -->
            <div class="game-text">
                <h3><%- apps[prop].name %></h3>
                <i class="small"><%- apps[prop].author %></i>
            </div>
            <div class="game-mask"></div>
        </a>
      <% }); %>
</div>

</div>
  </body>
  <!-- <script>
    function changeURL(extension){
      document.title = 'Brainstorm'
      window.history.replaceState({}, document.title, "/" + extension );
    }
</script> -->
</html>
